/* COMMON CSS */
:root {
    --font-family: "Josefin Sans", sans-serif;
    --second-family: "Roboto", sans-serif;
    --text-color: #11161e;
	--3d-primary-color: #151a32;
	--comon-colot: #fff;
	--1st-primary-color: #ff6f61;
	--paragraph-color: #444;
	--2nd-primary-color: #ff5645;
	--background-color: #f1f1f1;
	--bg: #f1f3f4;
	--black: #000;
	--a6aab7: #a6aab7;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,ul,span,ol{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-family);
}
/* COMMON CSS ENDS */

/* NAVBAR START */
#navlg ul li a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--text-color);
    padding: 37px 21px;
}
#navlg ul li a.active-link,
#navlg ul li a:hover{
    color: var(--1st-primary-color);
    transition: 0.4s;
}
nav .navicon ul li{
    display: inline-block;
   
}
nav .navicon ul li a{
    padding: 0 10px;
    font-size: 17px;
    color: var(--3d-primary-color);
    position: relative;
    
}
nav .navicon ul li a span.navicon_count{
    background-color:var(--1st-primary-color);
    position: absolute;
    top: -7px;
    right: 6px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 17px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--comon-colot);
}
.navbarsm .navicon ul{
    text-align: center;
}
.navbarsm .navicon ul li a{
    padding: 0 6px;
}
.navbarsm{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbarsm .menu a{
    color: var(--3d-primary-color);
}
.navbarsm .logo{
    text-align: center;
    padding: 10px;
}
.navbarsm .logo img{
    height: 50px;
}
#offcanvassm ul {
    text-align: left;
   
}
#offcanvassm ul li a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--text-color);
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid var(--black);
}
#offcanvassm ul li:last-child a{
    border: none;
}
/* NAVBAR ENDS */
/* BANNER START */
#banner{
    position: relative;
}
#banner .bannerslide{
    height: 800px;
    background-size: cover;
    background-position: center;
}
#banner .bannerslide h6{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1d1d1d;
}
#banner .bannerslide h2{
    font-family: var(--font-family);
font-weight: 700;
font-size: 64px;
line-height: 116%;
color: #1d1d1d;
margin: 14px 0 15px 0;
}
#banner .bannerslide p{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #1d1d1d;
margin: 16px 0 29px 0;
}
#banner .bannerslide a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: var(--comon-colot);
    background: var(--1st-primary-color);
    padding: 13px 37px;
    display: inline-block;
}
.bannerDots{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.bannerDots li{
    display:inline-block;
}
.bannerDots li button{
    width: 10.9px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--3d-primary-color);
    border: none;
    color: transparent;
    margin-right: 6px;
}
.bannerDots li.slick-active button{
    width: 29px;
    background-color: var(--1st-primary-color);
    
}
/* BANNER ENDS */